#map {
    top: 7.831vh; /* Starts below the header list */
    height: 67.1vh; /* Adjusted to fit within remaining space */
    width: 50vw; /* Width specified */
    position: fixed; /* Keeps it in place */
    left: 25vw; /* Moves it next to the pipeline list */
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
}

.pipeline-list {
    width:25vw;
    height:100vh;
    overflow: auto;
    background: whitesmoke;
}
.header-list .heading {
    background: #6c7889;
    color: #ffff;
}
.header-list .heading h2 {
    padding: 1rem;
}
.layer-list .heading {
    background: #466799;
    color: #ffff;
}
.layer-list .heading h2 {
    padding: 1rem;
}
.LRS-frame .heading {
    background: #466799;
    color: #ffff;
}
.LRS-frame .heading h2 {
    padding: 1rem;
}
.header-list {
left:25vw; /* Aligns it next to pipeline list */
    width: 75vw; /* Remaining width */
    height: 7.831vh; /* Specified height */
    background: red;
    position: fixed;
    top: 0;
    left: 25vw; /* Moves it to the right of the pipeline list */
}
.layer-list {
    width: 25vw;
    height: 75vh; /* Adjusted to fit below the header list */
    overflow: auto;
    background: whitesmoke;
    position: fixed;
    right: 0;
    top: 7.831vh; /* Starts below the header list */
}
.LRS-frame {
    width:100vw;
    overflow: auto;
    background: whitesmoke;
    position: fixed; 
    height: 25vh;/* Ensures it stays on the right side */
    bottom: 0; 
}
body{
    margin: 0;
    padding: 0;
}
.leaflet-container {
    height: 500px;
    width: 100vw;
}
.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper h4 {
    padding: 30px;
    background: #466799;
    color: #fff;
    font-size:16px;

}
.leaflet-popup-content-wrapper p {
    padding: 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
.pipeline-list .heading {
    background: #466799;
    color: #ffff;
}
.pipeline-list .heading h2 {
    padding: 1rem;
}
.pipeline-list li{
    padding: 0 1rem;
    list-style-type: none;   
}
.pipeline-list .list-item{
 margin: 1rem 0;
 border-bottom: 1px solid rgba(0,0,0,0.1);
 padding-bottom: 1rem;
}
.pipeline-list .oper-name{
text-description: none;
font-size: 18px;
color: #466799;
font-weight: 700;
}